*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
html{
    height: auto;
    scroll-behavior: smooth;
}
#nav-bar-container{
    position: fixed;
    min-width: 100%;
    background-color: #d3d3d3;
    height: 67px;

}
#nav-bar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    height: 67px;
    align-items:center;
}
#nav-bar a{
    text-decoration: none;
    height: 67px;
    color:black;  
}
#nav-bar a:hover{
    text-decoration: none;
    height: 7vh;
    color:#FF715B;  
    text-decoration: underline;
}
#nav-bar li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
}
#nav-bar li:nth-child(1){
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    grid-column-start: 10;
    padding:0 50px;
}
#welcome-section {
    box-sizing:border-box;
    height: 100vh;
    padding-top: 40vh;
    background-color:rgb(151, 223, 252);
}
body{
    position:relative;
}
#intro {
    margin: auto;
    width:70%;
    text-align: center;
    font-size: 4rem;
}
#welcome-subtext{
    text-align: center;
    font-size: 3rem;
}
#projects {
    height: 180vh;
    background-color: #FFC857;
}
h2{
    text-align: center;
    padding-top: 10vh;
    font-size: 3rem;
    text-decoration: underline;
}
#grid-section {
    display: grid;
    height: 160vh;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(15,1fr);
}

#project-tile{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 7;
}
#project-tile img{
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
#gallery-1-text{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: #2BA1FF;
}

#gallery-2{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 8;
    grid-column-end: 13;
    
}
#gallery-2 img{
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
#gallery-2-text{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 8;
    grid-column-end: 13;
    background-color: #2BA1FF;
}

#gallery-3{
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 7;
}

#gallery-3 img{
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#gallery-3-text{
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: #2BA1FF;
}

#gallery-4{
    grid-row-start: 8;
    grid-row-end: 12;
    grid-column-start: 8;
    grid-column-end: 13;
}
#gallery-4 img{
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
#gallery-4-text{
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 8;
    grid-column-end: 13;
    background-color: #2BA1FF;
}

#contact-subtext{
    text-align: center;
    font-size: 1.8rem;
    background-color: #97DFFC;
    font-style: italic;

}
#contact {
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: #97DFFC;

}
#github{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}
#github img{
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit:contain;
}

#linkedin{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 11;
}
#linkedin img{
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit:contain;
}

#letswork{
    text-align: center;
    padding-top: 30vh;
    font-size: 4rem;
    text-decoration: underline;
    background-color: #97DFFC;
    padding-bottom: 50px;
}
#linkedin:hover,
#github:hover {
    transform: translateY(12px);
  }

footer{
    height: 6vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #d3d3d3;
}

footer p{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: .8rem;
    text-align: center;
    margin-bottom: 10px;
}
#home{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    color:black ;
}

#home:hover{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
    color:#FF715B;  
}
/* MEDIA QUERY FOR 800px Width*/

@media only screen and (max-width:800px){
    html{
        height: auto;
        scroll-behavior: smooth;
    }
    #nav-bar-container{
        position: fixed;
        min-width: 100%;
        background-color: #d3d3d3;
        height: 67px;

    }
    #nav-bar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 67px;
    }
    #nav-bar a{
        text-decoration: none;
        height: 67px;
        color:black;  
    }
    #nav-bar a:hover{
        text-decoration: none;
        height: 7vh;
        color:#FF715B;  
        text-decoration: underline;
    }
    #nav-bar li{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        display: inline;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 50px;
    }
    #nav-bar li:nth-child(1){
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        grid-column-start: 1;
        padding:0 50px;
    }
    #projects {
        height: 270vh;
        background-color: #FFC857;
    }
    h2{
        text-align: center;
        padding-top: 10vh;
        font-size: 3rem;
        text-decoration: underline;
    }
    #grid-section {
        display: grid;
        height: 280vh;
        grid-template-columns: repeat(26, 1fr);
        grid-template-rows: repeat(30,1fr);
    }
    
    #project-tile{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 4;
        grid-column-end: 25;
    }
    #project-tile img{
        max-height: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    #gallery-1-text{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }
    
    #gallery-2{
        grid-row-start: 8;
        grid-row-end: 12;
        grid-column-start: 4;
        grid-column-end: 25;
        
    }
    #gallery-2 img{
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    #gallery-2-text{
        grid-row-start: 12;
        grid-row-end: 13;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }
    
    #gallery-3{
        grid-row-start: 14;
        grid-row-end: 18;
        grid-column-start: 4;
        grid-column-end: 25;
    }
    
    #gallery-3 img{
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    
    #gallery-3-text{
        grid-row-start: 18;
        grid-row-end: 19;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }
    
    #gallery-4{
        grid-row-start: 20;
        grid-row-end: 24;
        grid-column-start: 4;
        grid-column-end: 25;
    }
    #gallery-4 img{
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    #gallery-4-text{
        grid-row-start: 24;
        grid-row-end: 25;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }

    #contact-subtext{
        text-align: center;
        font-size: 1.8rem;
        background-color: #97DFFC;
        font-style: italic;
    
    }
    #contact {
        display: grid;
        height: 60vh;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(4,1fr);
        background-color: #97DFFC;
    
    }
    #github{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 7;
    }
    #github img{
        max-height: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit:contain;
    }
    
    #linkedin{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 8;
        grid-column-end: 12;
    }
    #linkedin img{
        max-height: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit:contain;
    }
    
    #letswork{
        text-align: center;
        padding-top: 30vh;
        font-size: 4rem;
        text-decoration: underline;
        background-color: #97DFFC;
        padding-bottom: 50px;
    }
    #linkedin:hover,
    #github:hover {
        transform: translateY(12px);
      }
    
/* MEDIA QUERY FOR 540px Width*/

@media only screen and (max-width:540px){
    html{
        height: auto;
        scroll-behavior: smooth;
    }
    #nav-bar-container{
        position: fixed;
        min-width: 100%;
        background-color: #d3d3d3;
        height: 67px;

    }
    #nav-bar{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 67px;
    }
    #nav-bar a{
        text-decoration: none;
        height: 67px;
        color:black;  
    }
    #nav-bar a:hover{
        text-decoration: none;
        height: 7vh;
        color:#FF715B;  
        text-decoration: underline;
    }
    #nav-bar li{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        display: inline;
        font-size: 1.5rem;
        font-weight: bold;
    }
    #nav-bar li:nth-child(1){
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        grid-column-start: 1;
    }
    #projects {
        height: 270vh;
        background-color: #FFC857;
    }
    h2{
        text-align: center;
        padding-top: 10vh;
        font-size: 3rem;
        text-decoration: underline;
    }
    #grid-section {
        display: grid;
        height: 280vh;
        grid-template-columns: repeat(26, 1fr);
        grid-template-rows: repeat(30,1fr);
    }
    
    #project-tile{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 4;
        grid-column-end: 25;
    }
    #project-tile img{
        max-height: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    #gallery-1-text{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }
    
    #gallery-2{
        grid-row-start: 8;
        grid-row-end: 12;
        grid-column-start: 4;
        grid-column-end: 25;
        
    }
    #gallery-2 img{
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    #gallery-2-text{
        grid-row-start: 12;
        grid-row-end: 13;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }
    
    #gallery-3{
        grid-row-start: 14;
        grid-row-end: 18;
        grid-column-start: 4;
        grid-column-end: 25;
    }
    
    #gallery-3 img{
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    
    #gallery-3-text{
        grid-row-start: 18;
        grid-row-end: 19;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }
    
    #gallery-4{
        grid-row-start: 20;
        grid-row-end: 24;
        grid-column-start: 4;
        grid-column-end: 25;
    }
    #gallery-4 img{
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    #gallery-4-text{
        grid-row-start: 24;
        grid-row-end: 25;
        grid-column-start: 4;
        grid-column-end: 25;
        background-color: #2BA1FF;
    }

    #contact-subtext{
        text-align: center;
        font-size: 1.8rem;
        background-color: #97DFFC;
        font-style: italic;
    
    }
    #contact {
        display: grid;
        height: 60vh;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(4,1fr);
        background-color: #97DFFC;
    
    }
    #github{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 7;
    }
    #github img{
        max-height: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit:contain;
    }
    
    #linkedin{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 8;
        grid-column-end: 12;
    }
    #linkedin img{
        max-height: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit:contain;
    }
    
    #letswork{
        text-align: center;
        padding-top: 30vh;
        font-size: 4rem;
        text-decoration: underline;
        background-color: #97DFFC;
        padding-bottom: 50px;
    }
    #linkedin:hover,
    #github:hover {
        transform: translateY(12px);
      }
    
}