*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
html{
    min-height: 400vh;
}
#nav-bar-container{
    position: fixed;
    min-width: 100%;
    background-color: aquamarine;
    height: 10vh;

}
#nav-bar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    height:10vh;
    align-items:center;
}
#nav-bar a{
    text-decoration: none;
    height:10vh;    

}
#nav-bar li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: inline;
}
#nav-bar li:nth-child(1){
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    grid-column-start: 9;
}
#welcome {
    box-sizing:border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 400vh;
    padding-top: 10vh;
}
body{
    position:relative;
}


