

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #33ccff;

  }

  h1 {
      margin: 0;
      padding: 20px 0;
      color: #0f03fc;
      text-shadow: 3px 3px 10px black;
      font-size: 60px;
      text-align: center;

  }

  p, li {
      font-size: 16px;
      line-height: 2;
      letter-spacing: 1px;

  }

  img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;

  }
  .ww2{
      max-width: 50%;
      height: auto;
  }
body {
    background-image:url(../img/triangle-mosaic.png);
}
