*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

#header>nav>ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    max-height: 5vh;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    line-height: 5vh;
    background-color: rgba(245, 38, 37, 0.24);
    list-style: none;
    position: ;
}
#contact{
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: center;
}
#profilio{
    grid-column-start: 5;
    grid-column-end: 6;
}

#services{
    grid-column-start: 4;
    grid-column-end: 5;
    text-decoration: none;
    border-bottom: 2rem;
}


#nav>img{
    width: 100%;
    max-height: 100%;
}
img{
    height: 5vh;
    object-fit: contain;
}
#body{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(43, 1fr);
    height: auto;
}
#Party{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 6;
    border-style: solid; 
}
h2{
    margin: 5rem auto 2rem;
    text-align: center;
    font-size: 3.5rem;
}
#Party input[type="email"]{
    margin: auto;
    display: block;
}
#submit{
    margin: 3rem auto;
    display: block;
}
#premium {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
#premium-box{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 12;
    border-style: solid; 
}


#Quality{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 13;
    grid-row-end: 14;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
    
#Quality-box{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 14;
    grid-row-end: 18;
    border-style: solid; 


}
#Customized{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 19;
    grid-row-end: 20;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

#Customized-box{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 20;
    grid-row-end: 24;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
iframe{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 26;
    grid-row-end: 30;
    margin: auto;
}

#pricing{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 32;
    grid-row-end: 33;
    border-style: solid;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
#Basic{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 34;
    grid-row-end: 35;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
#Basic-Package-box{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 35;
    grid-row-end: 42;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
#Standard{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 34;
    grid-row-end: 35;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

#Standard-Package-box{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 35;
    grid-row-end: 42;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

#Expert{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 34;
    grid-row-end: 35;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
#Expert-Package-box{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 35;
    grid-row-end: 42;
    border-style: solid; 
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
#footer{
    display: grid;
    grid-template-columns: 70vw repeat(3, 1fr);
    column-gap: 2rem;
    max-height: 5vh;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}
#footer a, 
li{
    text-decoration: none;
    font-style: normal;
    list-style: none;
}
#copy-right{
    display: grid;
    grid-template-columns: 90vw 1fr;
    min-height: 2vh;
    height: 100%;
    font-weight: lighter;
    text-align: center;
    font-size: 1rem;
    
}

