header {
    background-color: grey;
    padding: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 100px;

}
body {
    margin: 0px;
    border: 80%;
    background-color: aquamarine;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;

}
section {
    float: left;
    width: 70%;
    clear: both;
    margin-bottom: 100px;

}

aside {
    float: right;
    width: 25%;
}

footer {
    clear: both;
    background-color: gray;
    padding: 50px 0;
    text-align: center;
}

a:link{
    text-decoration: none;
}

a:visited {
    text-decoration: blue;
}

a:hover {
    text-decoration: underline;
}
