html{
    font-size: 10px;
    background-image: url(/Prospect-forms/images/scott-graham-OQMZwNd3ThU-unsplash.jpg);
    background-size: cover;
    background-color: rgba(39, 238, 245, 0.2);
    background-blend-mode: multiply;
}
.container {
    background-color: rgba(39, 182, 190, 0.6);
    margin:auto;
    max-width: 80%;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
}

fieldset {
    text-align: center;
    border-style: hidden;
}

h2 {
    font-size: 1.9rem;
    margin: 2rem 0 0;
    text-align: center;
}
legend, p {
    font-size: 1.5rem;
}
#form-group, legend{
    font-size: 1.5rem;
    margin: auto;
}
input, label{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#gender-container input[type="radio"],
#gender-container input[type="text"]{
    display: inline-block;
    margin: 0 15px 0px 0px;
}

label{
    display: inline-block;
}
#name-container {
    display: flex;
    flex-grow: 1 1;
}

