html{
    font-size: 10px;
    max-width: 100vw;
}
ul{
    margin: 0;
    padding: 0;
}
#header-img{
    height: 7vh;
    object-fit:contain;
    margin: 0;
    padding: 0;
}
#nav-grid{
    display: grid;
    grid-template-columns: 65vw repeat(3, 1fr);
    height: 7vh;
    margin: 0 0 ;
    width: 100vw;
}
.nav-link{
    list-style-type: none;
    text-align: center;
    margin: auto;
}
/*Coffee section grid start*/
#coffee-section{
    display: grid;
    min-width: 100vw;
    max-width: 100vw;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    height:1000px;
}
#coffee1 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: aqua;
}
#coffee1-text{
    grid-area: 6/3/7/6;
    background-color:brown;
}
#coffee2 {
    grid-area: 2/6/6/9;
    background-color: blueviolet;
}
#coffee3 {
    grid-area: 2/9/6/12;
    background-color:burlywood;
}
