html{
    font-size: 10px;
    max-width: 100vw;
}
ul{
    margin: 0;
    padding: 0;
}
#header-img{
    height: 7vh;
    object-fit:contain;
    margin: 0;
    padding: 0;
}
#nav-grid{
    display: grid;
    grid-template-columns: 65vw repeat(3, 1fr);
    height: 7vh;
    margin: 0 0 ;
    width: 100vw;
}
.nav-link{
    list-style-type: none;
    text-align: center;
    margin: auto;
}
/*Coffee section grid start*/
#coffee-section{
    display: grid;
    min-width: 100vw;
    max-width: 100vw;
    grid-template-columns: 1fr repeat(4, 1fr);
    grid-template-rows: 1fr repeat(4, 1fr)
#textbox-1 {
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: center;
}
